$header-color:#ffffff;
$header-bg:black;
$bg-color:#00798A;
$btn-color:#FC4065;
$hover-color:#D2322D;
$text-color:rgba(0,121,138,1);
$text-second-color:#000;
$bg-box:#D8D8D8;
$li-color:#858585;
$div-color:#1F8A63;
$div-text-color:#fff;
$btnOne:#d9534f;
$btn-text:#fff;
$btnOne-hover:red;
$btnTwo:#428bca;
$btnTwo-hover:blue;
$btnThree:#5cb85c;
$btnThree-hover:green;
$border-color:grey;